In [1]:
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.ext.declarative import declarative_base

# Tell Python what database we are talking to
# Change username below to your UNI
engine = create_engine(
    'postgresql://xm2157:supersecret@localhost:5432/bank',
)

metadata = MetaData(bind=engine)  # Storage of information regarding tables and schemas

Base = declarative_base()

class User(Base):
    __table__ = Table(
        'users',  # Table name
        metadata,  # Storage of table related info
        autoload=True  # Load column information from database
    )
    
    def __repr__(self):
        return self.name
    
class Account(Base):
    __table__ = Table('accounts', metadata, autoload=True)
    
class Transaction(Base):
    __table__ = Table('transactions', metadata, autoload=True)

In [2]:
type(User)  # What is the User object?

sqlalchemy.ext.declarative.api.DeclarativeMeta

In [3]:
User

__main__.User

In [4]:
User.__table__

Table('users', MetaData(bind=Engine(postgresql://pl2648:***@localhost:5432/bank)), Column('id', INTEGER(), table=<users>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f33c002fda0>, for_update=False)), Column('name', TEXT(), table=<users>), Column('join_date', DATE(), table=<users>), schema=None)

In [5]:
# How do we get data from the database. 
# We need a session, kind of like a python instance of psql.
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [6]:
session

#### SELECTS

In [7]:
users = session.query(User)
users  # hmm, still not a list of users

In [8]:
list(users)  # ahh, there they are?

[Paul,
 Zhou,
 Janet,
 Urbi,
 Mary,
 Paul,
 Paul,
 Christine,
 Hanky,
 Paul,
 Christine,
 Hanky,
 Paul,
 Christine,
 Hanky]

In [9]:
users = session.query(User)

# with_entities selects a specific set of columns to return
users = users.with_entities(
    User.id,  # Select Clause
    User.name,
)

# Add some where clauses!
users = users.filter(
    User.name.like('%a%')
)

list(users)

[(5, 'Paul'),
 (7, 'Janet'),
 (9, 'Mary'),
 (23, 'Paul'),
 (26, 'Paul'),
 (28, 'Hanky'),
 (29, 'Paul'),
 (31, 'Hanky'),
 (32, 'Paul'),
 (34, 'Hanky')]

In [10]:
users.count()  # Count number of rows returned

10

In [11]:
u1 = users[0]
print(u1)  # looks like tuple!
u1.name  # but acts like object

(5, 'Paul')

'Paul'

In [12]:
list(session.query(User).with_entities(
    User.id,
    User.name,
).filter(
    # ANDing can be done with multple filter arguments
    User.name.like('%r%'),
    User.name.like('U%')
))

[(8, 'Urbi')]

In [13]:
from sqlalchemy import or_

list(session.query(User).with_entities(
    User.id,
    User.name,
).filter(
    # ORing requires the user of the or_ function
    or_(
        User.name.like('J%'), 
        User.name.like('P%')
    )
))

[(5, 'Paul'),
 (7, 'Janet'),
 (23, 'Paul'),
 (26, 'Paul'),
 (29, 'Paul'),
 (32, 'Paul')]

In [14]:
from sqlalchemy.orm import join
users = list(session.query(User).select_from(
    join(User, Account, User.id == Account.user_id)  # Join clause
).with_entities(
    User.id,  # Select clause
    User.name,
    Account.balance,
))
users

[(5, 'Paul', 50.0),
 (6, 'Zhou', 50.0),
 (6, 'Zhou', 70.0),
 (8, 'Urbi', 90.0),
 (9, 'Mary', 100.0),
 (8, 'Urbi', 25.0)]

In [15]:
print(type(users[0]))
users[0].name

<class 'sqlalchemy.util._collections.result'>

'Paul'

In [16]:
# Can use ".one" to get the one object that has this user's name
session.query(User).filter(User.name == 'Urbi').one()

Urbi

In [17]:
# Also, get an error if no row exists
session.query(User).filter(User.name == 'Allan').one()

NoResultFound: No row was found for one()

In [18]:
# We can try and retrieve a row that might not exist and return None
# if it doesn't with "one_or_none". 
print(session.query(User).filter(User.name == 'Allan').one_or_none())

None

In [19]:
from datetime import datetime 

session.add(User(name='Paul', join_date=datetime.now()))
# If there are multiple objects, "one" will raise an error.
# This error is a good thing we are only expecting one object.
session.query(User).filter(User.name == 'Paul').one()

MultipleResultsFound: Multiple rows were found for one()

##### INSERTS

In [20]:
# Let's add a new user!
new_user = User(name='Christine', join_date=datetime.now())
session.add(new_user)

In [21]:
session.commit()  # Save changes

In [22]:
new_user = User(name='Hank', join_date=datetime.now())
session.add(new_user)

# SQL Alchemy will also push the pending writes to the db when a new select query is run.
# This ensures that the results you get back are in fact what is in the database.

list(session.query(User).with_entities(
    User.id,
    User.name,
))

[(5, 'Paul'),
 (6, 'Zhou'),
 (7, 'Janet'),
 (8, 'Urbi'),
 (9, 'Mary'),
 (23, 'Paul'),
 (26, 'Paul'),
 (27, 'Christine'),
 (28, 'Hanky'),
 (29, 'Paul'),
 (30, 'Christine'),
 (31, 'Hanky'),
 (32, 'Paul'),
 (33, 'Christine'),
 (34, 'Hanky'),
 (35, 'Paul'),
 (36, 'Christine'),
 (37, 'Hank')]

In [23]:
# Uses default ordering if no order by clause is present
hank = session.query(User).filter(User.name=='Hank').first()  
hank

Hank

In [24]:
hank.name = 'Hank 1'
# Shows us changes that still need to be pushed to the db
session.dirty

IdentitySet([Hank 1])

In [25]:
session.commit()
session.dirty  # No more changes to commit

IdentitySet([])

In [26]:
list(session.query(User).with_entities(
    User.id,
    User.name,
))

[(5, 'Paul'),
 (6, 'Zhou'),
 (7, 'Janet'),
 (8, 'Urbi'),
 (9, 'Mary'),
 (23, 'Paul'),
 (26, 'Paul'),
 (27, 'Christine'),
 (28, 'Hanky'),
 (29, 'Paul'),
 (30, 'Christine'),
 (31, 'Hanky'),
 (32, 'Paul'),
 (33, 'Christine'),
 (34, 'Hanky'),
 (35, 'Paul'),
 (36, 'Christine'),
 (37, 'Hank 1')]

In [27]:
from sqlalchemy import desc

for user in session.query(User).all():  # .all() -> return a list of users
    user.name = 'Paola'  # Oops
    
session.dirty  # Oh no!

IdentitySet([Paola, Paola, Paola, Paola, Paola, Paola, Paola, Paola, Paola, Paola, Paola, Paola, Paola, Paola, Paola, Paola, Paola, Paola])

In [28]:
# Let's throw away all of the pending changes
session.rollback()  
session.dirty

IdentitySet([])

In [29]:
list(session.query(User).with_entities(
    User.id,
    User.name,
))  # Wheew!

[(5, 'Paul'),
 (6, 'Zhou'),
 (7, 'Janet'),
 (8, 'Urbi'),
 (9, 'Mary'),
 (23, 'Paul'),
 (26, 'Paul'),
 (27, 'Christine'),
 (28, 'Hanky'),
 (29, 'Paul'),
 (30, 'Christine'),
 (31, 'Hanky'),
 (32, 'Paul'),
 (33, 'Christine'),
 (34, 'Hanky'),
 (35, 'Paul'),
 (36, 'Christine'),
 (37, 'Hank 1')]

#### UPDATES

In [30]:
session.query(User).filter(User.name == 'Hank 1').update({'name': 'Hanky'})

1

In [31]:
# Dirty only tells us about changes made to
# objects loaded in the current session :/
session.dirty

IdentitySet([])

In [32]:
session.commit()

In [33]:
# Let's check
list(session.query(User).with_entities(
    User.id,
    User.name,
))

[(5, 'Paul'),
 (6, 'Zhou'),
 (7, 'Janet'),
 (8, 'Urbi'),
 (9, 'Mary'),
 (23, 'Paul'),
 (26, 'Paul'),
 (27, 'Christine'),
 (28, 'Hanky'),
 (29, 'Paul'),
 (30, 'Christine'),
 (31, 'Hanky'),
 (32, 'Paul'),
 (33, 'Christine'),
 (34, 'Hanky'),
 (35, 'Paul'),
 (36, 'Christine'),
 (37, 'Hanky')]

#### DELETES

In [34]:
people = session.query(User).filter(
    or_(
        User.name.like('Hank%'), 
        User.name.like('Christine')
    )
)

In [35]:
for person in people:
    session.delete(person)

In [36]:
# Delete's also don't show in dirty :/
session.dirty

IdentitySet([])

In [37]:
session.commit()

In [44]:
# Let's check
list(session.query(User).with_entities(
    User.id,
    User.name,
))

[(5, 'Paul'), (6, 'Zhou'), (7, 'Janet'), (8, 'Urbi'), (9, 'Mary')]